apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fileflows
  namespace: fileflows
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: media-management
  install:
    createNamespace: true
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: revenz/fileflows
              tag: latest
            env:
              TZ: Europe/Warsaw

    service:
      main:
        controller: main
        ports:
          http:
            port: 5000

    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.tls: "true"
        hosts:
          - host: fileflows.emoh.pl
            paths:
              - path: /
                service:
                  identifier: main
                  port: http

    persistence:
      config:
        existingClaim: fileflows-config-pvc
        globalMounts:
          - path: /app/Data

      media:
        existingClaim: fileflows-media-pvc
        globalMounts:
          - path: /media
