apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: media-stack
  namespace: media-management
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: media-management
  install:
    createNamespace: true
  values:
    defaultPodOptions:
      hostname: media-stack
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        sysctls:
          - name: net.ipv6.conf.all.disable_ipv6
            value: "1"

    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          gluetun:
            image:
              repository: qmcgaw/gluetun
              tag: latest
            env:
              - name: VPN_SERVICE_PROVIDER
                value: windscribe
              - name: VPN_TYPE
                value: wireguard
              - name: WIREGUARD_PRIVATE_KEY
                valueFrom:
                  secretKeyRef:
                    name: vpn-secret
                    key: WIREGUARD_PRIVATE_KEY
              - name: WIREGUARD_PRESHARED_KEY
                valueFrom:
                  secretKeyRef:
                    name: vpn-secret
                    key: WIREGUARD_PRESHARED_KEY
              - name: WIREGUARD_ADDRESSES
                valueFrom:
                  secretKeyRef:
                    name: vpn-secret
                    key: WIREGUARD_ADDRESSES
              - name: SERVER_CITIES
                value: "Warsaw,Frankfurt"
              - name: FIREWALL_VPN_INPUT_PORTS
                value: "55426,6881"
              - name: FIREWALL_INPUT_PORTS
                value: "8080,9696,8989,7878,8191"
              - name: FIREWALL_OUTBOUND_SUBNETS
                value: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
              - name: DNS_ADDRESS
                value: "1.1.1.1"
              - name: WIREGUARD_MTU
                value: "1280"
              - name: MTU
                value: "1280"
              - name: DOT
                value: "off"

            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
            
          qbittorrent:
            image:
              repository: ghcr.io/linuxserver/qbittorrent
              tag: latest
            env:
              TZ: Europe/Warsaw
              WEBUI_PORT: 8080
            dependsOn: gluetun
          prowlarr:
            image:
              repository: ghcr.io/linuxserver/prowlarr
              tag: latest
            env:
              TZ: Europe/Warsaw
            dependsOn: gluetun

          sonarr:
            image:
              repository: ghcr.io/linuxserver/sonarr
              tag: latest
            env:
              TZ: Europe/Warsaw
            dependsOn: gluetun

          radarr:
            image:
              repository: ghcr.io/linuxserver/radarr
              tag: latest
            env:
              TZ: Europe/Warsaw
            dependsOn: gluetun

          flaresolverr:
            image:
              repository: ghcr.io/flaresolverr/flaresolverr
              tag: latest
            env:
              TZ: Europe/Warsaw
            dependsOn: gluetun

    service:
      main:
        controller: main
        ports:
          http:
            port: 8080
          prowlarr:
            port: 9696
          sonarr:
            port: 8989
          radarr:
            port: 7878
          flaresolverr:
            port: 8191

    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.tls: "true"
        hosts:
          - host: qbittorrent.emoh.pl
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
          - host: prowlarr.emoh.pl
            paths:
              - path: /
                service:
                  identifier: main
                  port: prowlarr
          - host: sonarr.emoh.pl
            paths:
              - path: /
                service:
                  identifier: main
                  port: sonarr
          - host: radarr.emoh.pl
            paths:
              - path: /
                service:
                  identifier: main
                  port: radarr

    persistence:
      config:
        existingClaim: media-config-pvc
        advancedMounts:
          main:
            qbittorrent:
              - path: /config
                subPath: qbittorrent
            prowlarr:
              - path: /config
                subPath: prowlarr
            sonarr:
              - path: /config
                subPath: sonarr
            radarr:
              - path: /config
                subPath: radarr
      
      media:
        existingClaim: media-data-pvc
        advancedMounts:
          main:
            qbittorrent:
              - path: /media
            sonarr:
              - path: /media
            radarr:
              - path: /media
