apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-config
  namespace: media-management
data:
  recyclarr.yml: |
    # yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
    radarr:
      radarr:
        base_url: http://media-stack:7878
        api_key: !env_var RADARR_API_KEY
        quality_definition:
          type: movie
        quality_profiles:
          - name: Standard
            trash_id: d1d67249d3890e49bc12e275d989a7e9 # HD Bluray + WEB
          - name: Standard High Quality
            trash_id: 64fb5f9858489bdac2af690e27c8f42f # UHD Bluray + WEB
          - name: Standard Polish
            trash_id: d1d67249d3890e49bc12e275d989a7e9
          - name: Standard Polish High Quality
            trash_id: 64fb5f9858489bdac2af690e27c8f42f

        custom_formats:
          - trash_ids:
              - dc98083864ea246d05a42df0d05f81cc # x265 (HD)
              - cae4ca30163749b891686f95532519bd # AV1
            assign_scores_to:
              - name: Standard
              - name: Standard Polish
              - name: Standard High Quality
              - name: Standard Polish High Quality

    sonarr:
      sonarr:
        base_url: http://media-stack:8989
        api_key: !env_var SONARR_API_KEY
        quality_definition:
          type: series
        quality_profiles:
          - name: Standard
            trash_id: 72dae194fc92bf828f32cde7744e51a1 # WEB-1080p
          - name: Standard High Quality
            trash_id: d1498e7d189fbe6c7110ceaabb7473e6 # WEB-2160p
          - name: Standard Polish
            trash_id: 72dae194fc92bf828f32cde7744e51a1
          - name: Standard Polish High Quality
            trash_id: d1498e7d189fbe6c7110ceaabb7473e6

        custom_formats:
          - trash_ids:
              - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
              - 15a05bc7c1a36e2b57fd628f8977e2fc # AV1
            assign_scores_to:
              - name: Standard
              - name: Standard Polish
              - name: Standard High Quality
              - name: Standard Polish High Quality
