apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-config
  namespace: media-management
data:
  recyclarr.yml: |
    # yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
    radarr:
      radarr:
        base_url: http://media-stack:7878
        api_key: !env_var RADARR_API_KEY
        quality_definition:
          type: movie
        quality_profiles:
          - name: Standard

    sonarr:
      sonarr:
        base_url: http://media-stack:8989
        api_key: !env_var SONARR_API_KEY
        quality_definition:
          type: series
        quality_profiles:
          - name: Standard
