apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseerr
  namespace: jellyseerr
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: fallenbagel/jellyseerr
              tag: latest
            env:
              TZ: Europe/Warsaw
              LOG_LEVEL: "info"
    
    service:
      main:
        ports:
          http:
            port: 5055

    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.tls: "true"
        hosts:
          - host: jellyseerr.emoh.pl
            paths:
              - path: /
                service:
                  identifier: main
                  port: http

    persistence:
      config:
        enabled: true
        existingClaim: jellyseerr-config-pvc
        subPath: jellyseerr
        globalMounts:
          - path: /app/config
