---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: nfd
  namespace: flux-system
spec:
  interval: 1h
  url: https://kubernetes-sigs.github.io/node-feature-discovery/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nfd
  namespace: flux-system
spec:
  interval: 1h
  chart:
    spec:
      chart: node-feature-discovery
      version: "0.17.x"
      sourceRef:
        kind: HelmRepository
        name: nfd
        namespace: flux-system
  targetNamespace: kube-system
  install:
    createNamespace: true
  values:
    master:
      enable: true
    worker:
      enable: true
      config:
        core:
          sources:
            - pci
            - usb
            - custom
