services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    network_mode: host
    volumes:
      - /opt/docker/adguard/work:/opt/adguardhome/work
      - /opt/docker/adguard/conf:/opt/adguardhome/conf
    environment:
      - TZ=${TZ}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "netstat -an | grep 80 | grep LISTEN || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
  tailscale:
    image: tailscale/tailscale:latest
    hostname: ${TAILSCALE_HOSTNAME}
    network_mode: host
    container_name: tailscale
    environment:
      TS_STATE_DIR: /var/lib/tailscale
      TS_ROUTES: ${TAILSCALE_ROUTES}
      TS_AUTHKEY: ${TAILSCALE_AUTH_KEY}
      TS_USERSPACE: "false"
      TS_EXTRA_ARGS: --snat-subnet-routes=true --accept-dns=false
      TZ: ${TZ}
    volumes:
      - /opt/docker/tailscale/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    restart: unless-stopped
  adguard-sync:
    image: ghcr.io/bakito/adguardhome-sync:latest
    container_name: adguard-sync
    depends_on:
      adguardhome:
        condition: service_healthy
    profiles: ["master"]
    restart: unless-stopped
    environment:
      # Master
      - ORIGIN_URL=${ADGUARD_MASTER_URL}
      - ORIGIN_USERNAME=${ADGUARD_MASTER_USERNAME}
      - ORIGIN_PASSWORD=${ADGUARD_MASTER_PASSWORD}

      # Slave
      - REPLICA_URL=${ADGUARD_SLAVE_URL}
      - REPLICA_USERNAME=${ADGUARD_SLAVE_USERNAME}
      - REPLICA_PASSWORD=${ADGUARD_SLAVE_PASSWORD}

      # Split scope DHCP
      - FEATURES_DHCP_SERVER_CONFIG=false
      - FEATURES_DHCP_STATIC_LEASES=true

      # Sync everything
      - FEATURES_GENERAL_SETTINGS=true
      - FEATURES_FILTERS=true
      - FEATURES_DNS_REWRITES=true
      - FEATURES_CLIENT_SETTINGS=true
      - FEATURES_SERVICES=true

      # --- Częstotliwość ---
      - CRON=*/10 * * * * # 10min
      - RUN_ON_START=true
