services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    network_mode: host
    volumes:
      - /opt/docker/adguard/work:/opt/adguardhome/work
      - /opt/docker/adguard/conf:/opt/adguardhome/conf
    environment:
      - TZ=${TZ}
    restart: unless-stopped
  tailscale:
    image: tailscale/tailscale:latest
    hostname: ${TAILSCALE_HOSTNAME}
    network_mode: host
    container_name: tailscale
    environment:
      TS_STATE_DIR: /var/lib/tailscale
      TS_ROUTES: ${TAILSCALE_ROUTES}
      TS_USERSPACE: "false"
      TS_EXTRA_ARGS: --snat-subnet-routes=true --accept-dns=false
      TZ: ${TZ}
    volumes:
      - /opt/docker/tailscale/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    restart: unless-stopped
