apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: configs
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./k8s/infrastructure/configs
  prune: true
  wait: true
  dependsOn: 
    - name: infrastructure
  sourceRef:
    kind: GitRepository
    name: flux-system