apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: bitnami
  namespace: flux-system
spec:
  interval: 1h
  url: https://charts.bitnami.com/bitnami
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zitadel-db
  namespace: zitadel
spec:
  releaseName: zitadel-postgresql
  interval: 1h
  chart:
    spec:
      chart: postgresql
      version: "18.x.x"
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  targetNamespace: zitadel
  install:
    createNamespace: true
  values:
    image:
      tag: 16
    auth:
      database: zitadel
      username: zitadel
      existingSecret: "zitadel-secret"
      secretKeys:
        adminPasswordKey: "root_password"
        userPasswordKey: "db_password"
    primary:
      persistence:
        enabled: true
        storageClass: "longhorn-fast-single"
        size: 10Gi
      nodeSelector:
        hardware.home/tier: performance