---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: intel
  namespace: flux-system
spec:
  interval: 1h
  url: https://intel.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugins-operator
  namespace: flux-system
spec:
  dependsOn:
    - name: nfd
  interval: 1h
  chart:
    spec:
      chart: intel-device-plugins-operator
      version: "0.34.1" 
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
  targetNamespace: kube-system
  install:
    createNamespace: false
    crds: CreateReplace 
  upgrade:
    crds: CreateReplace